@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-view-harness {
    z-index: 0;
}

.fc-view-harness-active {
    z-index: 0;
}

/* Optionally, you can include the z-index: 0 property */
.fc-view-harness {
    z-index: 0;
}

.fc-event{
    cursor: pointer;
}
.fc-content {
    cursor: pointer;
}

.fc-daygrid-day-frame {
    cursor: pointer;
}
